.channel {
	background: var(--primary);
	height: 100%;
	min-width: 200px;
	padding: 10px;
}

.form.channel-form {
	margin: auto;
	box-shadow: none;
}

.channel-header {
	border-bottom: 1px solid rgba(200, 187, 200, 0.3);
	text-align: center;
	color: var(--lunar);
}

.channel-label span {
	float: right;
	cursor: pointer;
	transition: ease-in-out	0.3s;
}

.channel-label span:hover {
	color: var(--cloudy);
}

.channel-label .inner {
	display:flex;
	justify-content: space-between;
}

.channel-label .inner.selected {
	padding: 0 5px;
	border-radius: 5px;
}

.channel-label .inner.selected, 
.channel-label .inner.selected:hover {
	background: #0f79d7;
}

.channel-label .inner:hover {
	background: var(--primary-nav);
	cursor: pointer;
}

.channel-label {
	line-height: 2;
	display: inline;
	color: var(--lunar);
}

.channel-label.unread { font-weight: bold;}

.channelDelete {
	font-size: 1rem;
    font-weight: bold;
    opacity: 0.5;
    transition: ease-in-out 0.2s;
    padding: 0;
    background-color: transparent;
    border: 0;
	color: white;
    appearance: 0;
    margin-bottom: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.channelDelete:hover {
	cursor: pointer;
	opacity: 1;
 }

.channel-list {
	padding: 20px 0;
}
